.guesses {
  --guess-bg: var(--color-blue);
  --guess-brd: var(--color-blue-medium);
  --guess-text: var(--color-blue-medium);
  --guess-brd-inbetween: var(--color-blue-light);
  --guess-button-bg: var(--color-yellow);
  --guess-button-text: var(--color-black);
  --guess-button-brd: var(--color-blue-medium);
  align-items: center;
  background: var(--color-blue-medium);
  border-radius: 2rem;
  border: .8rem solid var(--color-black);
  position: relative;
  overflow: hidden;

  > form {
    display: block;
    padding: 0;
    inline-size: 100%;
    text-align: center;
  }

  &__header {
    -webkit-font-smoothing: antialiased;
    background: var(--color-blue-medium);
    border-start-end-radius: .6rem;
    border-start-start-radius: .6rem;
    display: grid;
    gap: 1.6rem;
    grid-template-columns: auto 1fr;
    padding: 2.4rem 1.6rem;
    text-align: left;

    p, span {
      @include font-size(18);
      color: var(--color-white);
      font-family: var(--font-jura);
      font-weight: 700;
      letter-spacing: .05rem;
    }
  }

  &__note {
    @include font-size(12,16);
    color: var(--color-white);
    font-weight: 300;
    grid-area: note;
    justify-self: flex-start;
    margin-block-start: 1.2rem;
    padding-inline-start: 2.4rem;
  }

  &__num {
    @include font-size(24,24);
    align-items: center;
    background-color: var(--color-black-950);
    block-size: 4.8rem;
    border-radius: var(--border-radius-full);
    color: var(--color-yellow);
    display: flex;
    font-weight: 700;
    inline-size: 4.8rem;
    justify-content: center;
    margin-inline: auto;
  }

  &__submit {
    grid-area: submit;

    .button {
      background: var(--guess-button-bg);
      block-size: calc(100% - .4rem);
      border: .1rem solid var(--guess-button-brd);
      color: var(--guess-button-text);
      padding-inline: var(--spacing);

      .error & {
        box-shadow: none;
      }

      &[disabled] {
        --guess-button-brd: var(--color-blue-light);
        --guess-button-text: var(--color-blue-light);
        background: transparent;

        .error & {
          --guess-button-bg: var(--color-red-light);
          --guess-button-text: var(--color-red);
          --guess-button-brd: var(--color-red);
        }
      }
    }
  }

  &__img {
    aspect-ratio: 4/3;
    border-inline: .6rem solid var(--guess-brd);
    grid-area: img;

    img {
      block-size: 100%;
      inline-size: 100%;
      object-fit: cover;
    }
  }

  &__input {
    background-color: var(--guess-bg);
    border: .6rem solid var(--color-blue-medium);
    border-radius: 0 0 1.6rem 1.6rem;
    border-block-start: 0;
    color: var(--color-black);
    display: grid;
    gap: 1.2rem;
    grid-area: input;
    padding: 2.4rem 1.6rem;
    position: relative;
    text-align: left;
    transition: all var(--td) var(--tt);
    grid-template-areas: 
    'input submit'
    'note note';
    grid-template-columns: 1fr 4.8rem;

    &.error {
      --guess-bg: var(--color-red-light);
      --guess-brd: var(--color-red);
      --guess-text: var(--color-red);
      --guess-brd-inbetween: var(--color-green-light);
      --guess-button-bg: var(--color-red-light);
      --guess-button-text: var(--color-red);
      --guess-button-brd: var(--color-red);
    }

    button[id="keyboard"] {
      background: transparent;
      border-radius: 50%;
      border: 0;
      cursor: pointer;
      position: absolute;
      right: 1.6rem;
      top: 50%;
      transform: translateY(-50%);

      img {
        pointer-events: none;
      }
    }

    &-grp {
      background-color: var(--color-white);
      border-radius: var(--border-radius-sm);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      grid-area: input;
      min-block-size: 12rem;
      overflow: hidden;
      padding: var(--spacing-2) var(--spacing-4) var(--spacing-4);
      position: relative;

      &:after {
        background: var(--guess-brd);
        block-size: .8rem;
        bottom: 0;
        content: '';
        inline-size: 100%;
        left: 0;
        position: absolute;
        transform: translateY(0);
        transition: all var(--td) var(--tt);
      }
    }

    input[type="text"] {
      @include font-size(19);
      background: transparent;
      border: 0;
      color: var(--guess-text);
      display: block;
      font-weight: 500;
      line-height: 1.5em;
      min-block-size: 4.8rem;
      padding-inline-end: var(--spacing-6);
      transition: 0.3s cubic-bezier(0.64, 0.09, 0.08, 1) all;
      width: 100%;

      &:focus {
        outline: none;
      }
    }

    .error-message {
      @include font-size(12,16);
      color: var(--color-black);
      font-weight: 500;
      padding-inline-end: var(--spacing-6);
    }

    label {
      @include font-size(12,16);
      color: var(--guess-text);
      pointer-events: none;
      position: relative;
      transition: 0.2s ease all;
    }
  }
}