.loader {
  @include font-size(24,34);
  align-items: center;
  background: var(--color-yellow-400);
  block-size: 48rem;
  border-radius: 100%;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  font-weight: 500;
  gap: 1.2rem;
  inline-size: 48rem;
  justify-content: center;
  letter-spacing: .05rem;
  padding-block: var(--spacing-4);
  text-align: center;

  img {
    block-size: 4.8rem;
    inline-size: 4.8rem;
  }
}