["gcp"]
database_private_ip_address=""
database_public_ip_address=""
postgres_instance_connection_name=""
database_user_name="llmuser"
database_password_key="pgvector-password"
image_upload_gcs_bucket=""
google-project-id=""
cache-server-host = ""
cache-server-port = 6379
use-cache-server = "True" # "False" if running locally
google-default-region = "us-central1"
api-key = ""
