// =======================================
//    #UTILITY - FONT UTILITIES
// =======================================

// Converts pixel value font-size and line-height
@mixin font-size($sizeValue: 16, $line: null) {
  font-size: math.div($sizeValue, 10) + rem;

  // only add line-height if value provided.
  @if $line {
    line-height: math.div($line, $sizeValue);
  }
}

/* stylelint-disable length-zero-no-unit */
// Photoshop "tracking" value to letter-spacing
@mixin tracking($tracking) {
  letter-spacing: calc($tracking / 1000) + 0em;
}
/* stylelint-enable length-zero-no-unit */

// Add to elements to use web fonts properly
@mixin web-font($webFont) {
  .fonts-loaded & {
    font-family: $webFont;
  }
}

// =============================================================================
// Font Smoothing
//
// `@extend %font-smoothing` when using custom fonts over dark backgrounds
// =============================================================================
%font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
