// ================================== //
//    #CORE - WRAPPER
// ================================== //

:root {
  position: relative;
}

%wrapper,
.wrapper {
  padding-inline: var(--wrapper-padding);
  width: 100%;
}

.wrapper {
  @include container(var(--wrapper-width));
  padding-block: var(--spacing-4);
  min-height: 100vh;

  &-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-narrow {
    @extend %wrapper;
    @include container(var(--wrapper-width));
    padding-inline: var(--wrapper-padding);
  }

  > .wrapper {
    max-width: none;
    padding: 0;
  }
}
