// ================================== //
//    #UTILITY - CLEARFIX UTILITY
// ================================== //

.clearfix {
  &:after {
    clear: both !important;
    content: '' !important;
    display: block !important;
  }
}
